*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'montserrat';
}
html, body{
    height: 100%;
    width: 100%;
}
#nav{
    position: fixed;
    z-index: 99;
    height: 80px;
    width: 100%;
    /* background-color: rgb(178, 53, 53); */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 120px;
    gap: 40px;

}
#nav h4{
    font-size: 14px;
    font-weight: 500;
}

#cursor{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: "#95C11E";
    /* mix-blend-mode: difference; */
    position: fixed;
    z-index: 10;
}
#cursorblur{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgba(240, 213, 5, 0.308);
   filter: blur(30px);
    position: fixed;
    z-index: 8;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.25);
}

.page1{
   width: 100%;
   height: 100vh;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   z-index: 9;
}
.page1 h1{
    font-size: 80px;
    font-weight: 800;
    position: relative;
    /* -webkit-text-stroke: 1px rgb(153, 159, 153); */

}
/* .page1 h1::before{
    content:"EAT. DRINK. PLAY.";
    position: absolute;
    color: green;
    font-weight: 300;
    letter-spacing: 3px;
} */
.page1 h2{
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0 20px 0;
    z-index: 9;
}
.page1 p{
    font-size: 15px;
    font-weight: 600;
    width: 40%;
}

#page2{
    width: 100%;
    min-height: 100vh;
}
#scroller{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 10;
    position: relative;
}
#scroller::-webkit-scrollbar{
    display: none;
}
.scrollin{
    display: inline-block;
    white-space: nowrap;
    animation: scroll 20s linear  infinite;
}
#scroller h4{
    display: inline-block;
    font-size: 60px;
    font-weight: 800;
    margin-right: 10px;
    color: transparent;
    -webkit-text-stroke: 2px rgb(43, 83, 43);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all linear 0.6s;
}
#scroller h4:hover{
    color: rgb(33, 219, 33);
}
@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#about-it{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding:  0 50px;
    justify-content: space-around;
    position: relative;
    z-index: 9;
}
#about-it img{
    height: 10vw;
    width: 10vw;
    object-fit: cover;
    object-position: left;
    border-radius: 10px;
    transition: all ease 0.4s;
}
#about-it img:hover{
    transform:rotate3d(1,1.2,0.3,10deg)
}
.about-it-in{
    width: 40%;
    text-align: center;
}
.about-it-in h3{
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 700;
}
.about-it-in p{
  font-size: 13px;
  line-height: 20px;
}
#cards-cont{
    height: 60vh;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    position: relative;
    z-index: 10;
}
.card{
    height: 80%;
    width: 22%;
    /* background-color: black; */
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
}
#card1{
    background-image: url(https://img.freepik.com/premium-photo/village-bangladesh_865967-70671.jpg);
}
#card2{
    background-image: url(https://media.istockphoto.com/id/89500028/photo/mandrem-beach-goa-india.jpg?s=612x612&w=0&k=20&c=vTj_h_O4WHjieVGwDvqpE7t625EWX_e2fX5Wmhy47sg=);
}
#card3{
    background-image: url(https://www.financialexpress.com/wp-content/uploads/2021/09/village.jpg);
}
.overtext{
    height: 100%;
    width: 100%;
    background-color: green;
    padding: 20%;
    padding-top: 30%;
    opacity: 0;
    transition: all ease 0.6s;
    
}
.overtext h4{
    color: black;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 800;
    padding-bottom: 10px;
}
.overtext p{
    color: black;
    font-size: 14px;
    font-weight: 500;
}
.card:hover .overtext{
    opacity: 1;
}
.card:hover{
transform: rotate3d(1,1.2,0.3,10deg);
}
#green-div{
    height: 30vh;
    background: linear-gradient(to left bottom,rgb(0, 0, 0),green,rgb(93, 152, 102),rgb(0, 0, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10vh 0;
}
#green-div img{
    width: 20%;
    padding-bottom: 87px;
}
#green-div h4{
    color: black;
    font-size: 19px;
    font-weight: 700;
}


#page3{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
}
#imgtext{
    display: flex;
    align-items: center;
    padding: 0 50px;
    
    
}
.pnimg{
    height: 330px;
    width: 640px;
  position: relative;
    /* background-color: blue; */
 margin-top: 130px; 
margin-left: 80px; 
margin-right: 50px;
display: flex;
border-radius: 10px;
}
.imageContainer{
    position: absolute;
    overflow: hidden;
    width: 0%;
    height: 100%;
}
.pnimg img{
    height: 100%;
    /* width: 0%; */
}

.distext{
  
    text-align: left;
    width: 80%;

    
    
}
.distext h2{
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 800;
    padding-bottom: 10px;
}
.distext p{
    font-size: 14px;
    font-weight: 500;

}
#paragraph{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#paragraph p{
 font-size: 20px;
 font-weight:700 ;
 width:55% ;
 line-height: 30px;
 text-align: center;
}
#paragraph img{
    width: 200px;
    margin-left: 80px;
}

footer{
    height: 30px;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}
